.main {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    height: 100vh;
}

.name {
    font-size: 30px;
    display: inline-block;
    background: var(--arrow-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.photo {
    width: 50%;
    height: 400px;
    background-color: var(--button-text-color);
}