.header {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    background-color: var(--background-color);
}

.navbar {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.theme {
    display: flex;
    margin-right: 10px;
    align-items: center;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: var(--button-text-color);
}

.divider {
width: 1px;
    height: 80%;
    background-color: var(--button-text-color);
    opacity: 0.1;
}

.iconTheme {
    height: 32px;
    width: 32px;
    background-color: var(--button-text-color);
    -webkit-mask-image: url('../../../public/icons/dark-mode.png');
    mask-image: url('../../../public/icons/dark-mode.png');
}
.iconLanguage {
    height: 32px;
    width: 32px;
    background-color: var(--button-text-color);
    -webkit-mask-image: url('../../../public/icons/language.png');
    mask-image: url('../../../public/icons/language.png');
}
.iconTheme:hover,
.iconLanguage:hover {
    background-color: var(--second-color);
}
.iconTheme:hover,
.iconLanguage:active {
    background-color: var(--main-color);
}

.navLink {
    text-decoration: none;
    color: var(--button-text-color);
}

.navLink:hover {
    text-decoration: none;
    color: var(--button-text-color);
    text-shadow: 0 0 20px var(--main-color);
}

.navActive {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: var(--main-color);
    font-weight: bold;
    height: 100%;
    /*text-shadow: 0 0 5px var(--main-color);*/
    /*background-color: var(--main-color);*/
}

.navLink p {
    margin: 0 15px;
}
.navActive p {
    margin: 0 15px;
}