.container {
    display: flex;
    flex-direction: row;
    background-color: var(--secind-background-color);
    border-radius: 25px;
    max-width: 1000px;
}

/*
.photo {
    width: 500px;
}

.photo img {
    width: 500px;
}
*/

.information {
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    margin: 50px 30px;
}

.title {
    position: relative;
    margin-bottom: 1em;
    font-size: 6em;
    max-width: 50vw;
    display: inline-block;
    background: linear-gradient(45deg, var(--second-color), var(--main-color), var(--second-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-reflect: below 0 linear-gradient(transparent, #0003);
    font-weight: bold;
    line-height: 0.83em;
    outline: none;
    z-index: 2;

}

.description {
    color: var(--button-text-color);
    font-size: 1.2rem;
}

.links {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    column-gap: 5%;
}

.link {
    width: 100px;
    padding: 10px 25px;
}

.aStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    color: var(--button-text-color);
    background: linear-gradient(45deg, var(--main-color), var(--second-color));
    padding: 14px 25px;
    width: 80px;
    font-size: 1.25em;
    border-radius: 10px;
}

.aStyle:hover {
    color: whitesmoke;
}

.spanStyle {
    position: relative;
    z-index: 1;
}

.aStyle::before {
    content: '';
    position: absolute;
    inset: 1px;
    background: var(--secind-background-color);
    border-radius: 9px;
    transition: 0.5s;
}

.aStyle:hover::before {
    opacity: 0.7;
}

.aStyle::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(45deg, var(--main-color), var(--second-color));
    border-radius: 9px;
    transition: 0.5s;
    opacity: 0;
    filter: blur(20px);
}
.aStyle:hover::after {
    opacity: 1;
}