.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.photo {
    width: 500px;
}
.photo img{
    width: 500px;
}

.information {
    display: flex;
    flex-direction: column;
}

.title {
    color: red;
}

.description {
    color: azure;
}

.links {
    display: flex;
    flex-direction: row;
}