.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Content {
    display: flex;
    max-width: 900px;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: var(--button-text-color);
    transition: background-color 200ms linear;
}
