body {
  color: azure;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat', sans-serif;
}

html[data-theme='dark'] {
  --button-text-color: #ffffff;
  --button-background-color: #252525;
  --button-border-color: #009bc8;

  background-color: #252525;
  transition: background-color 200ms linear;

  --background-color: #353535;
  --secind-background-color: #353535;
  --icon-color: #009bc8;

  --title-color: #c8007d;

  --arrow-color: #c8007d;

  --main-color: #009bc8;
  --second-color: #c8007d;
}

html[data-theme='light'] {
  --button-text-color: #252525;
  --button-background-color: #c8c8c8;
  --button-border-color: #009b9b;

  background-color: #c8c8c8;
  transition: background-color 200ms linear;

  --background-color: #e6e6e6;
  --secind-background-color: #e6e6e6;
  --icon-color: #009b9b;

  --title-color: #9b2300;

  --arrow-color: #9b2300;

  --main-color: #009b9b;
  --second-color: #9b2300;
}
